*{
	margin:0;
	padding: 0;
}
body{
	background-color:#fff8e1 ;
}
.brand-logo img{
	width: 5em;
}
.txt{
	font-size: 1.5em;
	color:#03756F;
}
.user{
	width: 40px;
	height: 40px;
}
.icono{
	width: 3em;
	height: 3em;
	margin-left: 1em;
}
.fa-user{
margin:0.3em;
}
.item{
	font-size: 2em;
	margin-left: 1em;
}

.fa-gripfire{
margin:0.3em;
color:#ffd600; 
}
.fa-puzzle-piece{
margin:0.2em;
color:#01579b;
}

.vid-2{
margin-top:3em; 
}

.list{
	padding-left:3em;
}
.title{
	background-image: url("../images/barra_juegos_online.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 60vh;
}
.games{
	width: 6em;
}	
.juegos{
	background-color:#fff8e1 ;
}
/* Icono usuario ============================================================================================ */
#icon-perfil{
	width: 0.5em;
	padding: 0;
	margin: 0;
	margin-left: 5%;
}
.name{
	display: inline-block;
	position: absolute;
	bottom: 45%;
	left: 8%;
	font-weight: bold;
	color: #093136;
}
.post{
	margin-left: 5%;
}
.img-game{
	margin-left: 5%;
}